<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="MissingApplicationIcon">
        <!-- Needed to avoid a High MobSF finding for this activity -->
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="false"
            tools:replace="android:exported" />
    </application>

</manifest>
